.page {
  padding-top: 130px;
  display: flex;
  justify-content: space-between;
}

.dogs-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dog-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.dog-image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Maintain aspect ratio and cover the area */
}

.see-more {
  margin-top: 15px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.dog-container:hover {
  transform: scale(0.9);
}

.filter-section {
  width: 150px;
}

.label {
  color: pink;
}

.filters-button {
  margin-top: 20px;
  cursor: pointer;
}
