.left {
  width: 200px;
}

.home-header {
  background-color: rgb(239, 204, 210);
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 75px;
  margin-left: 5px;
}

.middle {
  display: flex;
  flex-grow: 1;
  height: 40px;
  max-width: 700px;
  margin-left: 5px;
  margin-right: 5px;
}

.search-bar {
  flex: 1;
  /* it stretches the elem on the entire section */
  padding-left: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  background-color: rgb(184, 209, 209);
  border: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-icon {
  height: 20px;
  padding-top: 2px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5px;
}

.adoption,
.donations,
.game,
.shelters {
  height: 50px;
  border-radius: 25px;
  border: 3px solid rgb(184, 209, 209);
  padding: 0 10px;
  cursor: pointer;
  /* max-width: 70px; */
}

/* .adoption-link{
    color:black;
 } */
